<div id="<%= dom_id day %>">
  <p>
    <strong>Number:</strong>
    <%= day.number %>
  </p>

  <p>
    <strong>Theme:</strong>
    <%= day.theme %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= day.description %>
  </p>

  <p>
    <strong>Session:</strong>
    <%= day.session_id %>
  </p>

</div>
